.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    background-color: #f5f5f5;
}

.profile-pic{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: block;
    margin: auto;
    position: relative;
}

.crop {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.profile{
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.name{
    text-align: center;
}

.profile-content .fa{
    margin-right: 10px;
}

.profile-content .panel{
    border-radius: 0px;
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 0px;
}

.progress .progress-bar{
    background: #76399c;    
    opacity: 0.75;
}
.progress > .progress-type {
    position: absolute;
    left: 0px;
    padding: 3px 30px 2px 10px;
    color: #fff;
    background: #76399c;    
    opacity: 1.0;
}
.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}

.profile .col-md-9{
    padding-right: 0px;
    padding-left: 0px;
}

.pull-right .fa{
    margin-left: 0px;
}

.label .glyphicon{
    margin-right: 5px;
    margin-left: 5px;
}

p.desc{
    font-size: 10pt;
}

label.location{
    font-size: 8pt;
    font-weight: 400;
}

label.date-title{
    font-size: 8pt;
}

label.date{
    font-size: 8pt;
    font-weight: 400;    
    background-color: #ddd;
    padding: 2px 5px;
}

.proj {
    background-color: #f6f6f6;
    padding: 5px 12px;
    margin: 5px 0px ;
}

button.view{    
    display: inline-block;
    background: #76399c;
    opacity: 0.75;
    padding: 5px 12px;
    margin: 5px 0px ;
    border: none;
    font-size: 10pt;    
    color: #fff;
}

button.view:hover{
    background: #76399c;
    opacity: 1.0;
    color: #fff;
}

button.join{
    display: inline-block;
    background-image: linear-gradient(to left,#3f1d69 0%,#0d074d 100%);
    background-color: #1f1545;
    color: #fff;
    font-size: 10pt;
    padding: 5px 12px;
    margin: 5px 0px ;
    border: none;
}

button.join:hover{
    background-image: linear-gradient(to left,#7b1f7f 0%,#3b1363 100%);
    color: #fff;
}

button:focus{
    outline: none;
}