body{
	background-color: #f6f6f6;
	font-family: 'Roboto', sans-serif;
}

.container{
	margin-right: 250px;
	margin-left: 250px;
}

img{
	vertical-align: middle;
}

hr{
	border-top: 1px solid #ddd;
}
h3{
	font-size: 20px;
	font-weight: 700;	
}

h6{
	font-size: 14px;	
}

h1, h2, h3, h4, h5, h6{
	margin-top: 20px;
}

.img-profile{
	max-width: 100%;
	height: auto;
	margin-bottom: 20px !important;
	display: block;
	margin: auto;
}

.img-home{
	max-width: 100%;
	height: auto;
	margin-bottom: 20px !important;
	display: block;
	margin: auto;
}

#profile-info{
	text-align: center;
}

.panel{
	border-radius: 0px;
}

.panel .fa{
	margin-right: 10px;
}

.btn, .btn-group-lg>.btn, .btn-default{
	border-radius: 0px;
}

.col-md-8{
	background-color: #eee;
	padding-top: 25px;
}

#edit-profile{
	padding-top: 0px;
}

.list-group-item{
	border-radius: 0px;
}

.list-group-item:first-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.list-group-item:last-child{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}	

.form-control{
	border-radius: 0px;
}

#upload-picture{
	height: 35px;
}


.input-group .date{
	margin: 0px;
}

.add-on{
	height: inherit;
}