body{
    font-family: 'Roboto', 'sans-serif';
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.panel-body{
    position: relative;
    top: 70px;

}


.login{
    background-color: rgba(255,255,255,0.2);
    height: 425px;
    position: relative;
    display: box;
    margin-bottom: 15px;
    border-top: 5px solid #7D1380;
}

.logo {
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px;
    display: block;

}

.logo-name{
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}

.col-sm-12.col-md-10.col-md-offset-1{
    position:relative;
    top: 30px; 
}

.input-group-addon {

    border: 0px;
    background-color: #7D1380;
    border-radius:0px;
}

.form-control {
    border-radius: 0px;
}

i {
    color: white;
}

.forget-password{
    text-decoration: underline;
}

.btn  {
    position: relative;
    top: 10px;
    background-color:#7D1380;
    border-radius: 0px;
    color: #fff;
}

.btn:hover {
    color: #fff;
}


.center{
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:30em;
    margin-top: -15em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.form-signin {
    max-width: 330px;    
    height: auto;
    padding: 15px;
    margin: 0 auto;
    border-top: 5px solid #7D1380;
    background-color: rgba(255,255,255,0.2);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
